/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'IM FELL DW Pica', serif;
    background-image: url('water_tile.png');
    background-repeat: repeat;
    color: #FF8012;
    text-align: center;
}

a {
    text-decoration: none;
    color: #00EAFF;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #FF8012;
}

/* Text Block Styles */
.text-block {
    text-align: center;
    position: absolute;
    top: 20px;
    width: 90%;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-family: 'Flavors', cursive;
    color: #FF00E6;
}

.hello-friends {
    font-family: 'Fasthand', cursive;
    color: #F7FF00;
}

.current-job, .team-text {
    font-family: 'Gluten', sans-serif;
    color: #3BFC00;
}

.message, .contact-info {
    font-family: 'IM FELL DW Pica', serif;
    color: #FF8012;
}

.contact-info .linkedin {
    text-decoration: underline;
    color: #00EAFF;
}

/* Cat image positioning */
.cats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.cat-left, .cat-right {
    width: 100px;
    height: auto;
}

/* Responsive Images */
.minecraft-logo {
    width: 70%;
    height: auto;
}

.under-construction {
    width: 80%;
    height: auto;
}

/* Desktop Layout (min-width: 800px) */
@media screen and (min-width: 800px) {
    .cat-left, .cat-right {
        display: inline-block;
        margin: 0 20px;
    }
    .minecraft-logo {
        width: 60%;
    }
}

/* Tablet Layout (width between 799px and 321px) */
@media screen and (max-width: 799px) and (min-width: 321px) {
    .cat-left, .cat-right {
        display: inline-block;
        margin: 0 20px;
    }
    .minecraft-logo {
        width: 70%;
    }
}

/* Mobile Layout (max-width: 320px) */
@media screen and (max-width: 320px) {
    .cats {
        display: block;
        margin-bottom: 10px;
    }

    .cat-left, .cat-right {
        display: inline-block;
        margin: 0 10px;
        width: 45%;
    }

    .minecraft-logo {
        width: 80%;
    }

    .text-block {
        margin-top: 120px;
    }
}

